[Unit]
Description=Triggers Wagman heartbeat line.

[Service]
WorkingDirectory=/usr/lib/waggle/core/scripts
ExecStart=/usr/lib/waggle/core/scripts/heartbeat.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
