[Unit]
Description=Uses the MAC address to setup the static enx* network interface.
Before=networking.service

[Service]
Type=oneshot
ExecStart=/usr/lib/waggle/core/scripts/configure-static-iface.sh

[Install]
WantedBy=waggle-core.target
