[Unit]
Description=Initializes Waggle system.
After=waggle-core.target
Before=waggle-platform.target

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/waggle/core/
ExecStart=/usr/lib/waggle/core/scripts/waggle_init.sh force

[Install]
WantedBy=waggle-core.target
RequiredBy=waggle-platform.target
