[Unit]
Description=Validates messages going to beehive.

[Service]
Environment=WAGGLE_NODE_ID=NODE_ID
Environment=WAGGLE_SUB_ID=SUB_ID
ExecStart=/wagglerw/message-pipeline/bin/node-message-validator validate to-beehive
Restart=always
RestartSec=60

[Install]
WantedBy=waggle-platform.target
