[Unit]
Description=Waggle System Initializer
After=waggle-core.target

# Start the service only when recover requested
#ConditionPathExists=/wagglerw/do_recovery
ConditionPathIsReadWrite=/

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/waggle/core/
ExecStart=/usr/lib/waggle/core/scripts/waggle_init.sh --force

[Install]
WantedBy=waggle-core.target
