[Unit]
Description=Monitors plugins.

[Service]
ExecStart=/usr/lib/waggle/core/bin/monitor-plugins
Restart=always
RestartSec=60

[Install]
WantedBy=waggle-core.target
