[Unit]
Description=Initializes Waggle system.
After=waggle-core.target

# Start the service only when recover requested
ConditionPathExists=/root/do_recovery

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/waggle/core/
ExecStart=/usr/lib/waggle/core/scripts/waggle_init.sh --force

[Install]
WantedBy=waggle-core.target
